[Unit]
Description=Discord Bot Minion
After=network.target
Wants=network.target

[Service]
User=discord
Group=discord
PIDFile=/opt/discordstatusbot/running.pid
SuccessExitStatus=0 1 SIGKILL
NoNewPrivileges=true
PrivateTmp=true
InaccessiblePaths=/root /sys /srv /home /media /lost+found
ReadWritePaths=/opt/data /var/log
WorkingDirectory=/opt/discordstatusbot

ExecStart=/opt/discordstatusbot/startDiscordBot.sh

[Install]
WantedBy=multi-user.target
